body {
    width: 90%;
    font-family: Georgia, serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: medium;
    color: darkolivegreen;
    align-items: center;
    align-content: center;
    alignment: center;
    margin-left: 5%;
    margin-right: 5%;
}

blockquote {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

figcaption {
    font-style: italic;
}

a:link {
    background-color: salmon;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    background-color: salmon;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:active {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 0;
    background-color: black;
    color: white;
}