body {
    width: 90%;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans", Georgia, serif;
    text-align: center;
    text-shadow: 2px 2px 2px darkgrey;
    border-radius: 2;
    letter-spacing: 1px;
    font-size: medium;
    color: darkolivegreen;
    align-items: center;
    align-content: center;
    alignment: center;
    margin-left: 5%;
    margin-right: 5%;
}

header > h6 {
    width: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
    background-color: yellow;
    margin-left: 40%;
    margin-right: 40%;
}

h1 {
    color: white;

h2 {
    color: white;
}

}

p {
    color: white;
}

img {
    float: right;
    margin: 10px;
    border: 10px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#rowone {
    background-color: salmon;
    font-weight: bold;
}

#rowtwo {
    background-color: white;
}

#rowthree {
    background-color: lightgray;
}

#rowfour {
    background-color: white;
}

#rowfive {
    background-color: lightgray;
}

blockquote {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #EEEEEE;
    border-left: 3px black;
    padding: 30px;
    border-left-style: dashed;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
}

q {
    font-size: 160%;
    font-style: italic;
}

.farmer {
    border-left: 2px solid black;
    padding-left: 10px;
}

.village {
    border-left: 2px solid yellow;
    padding-left: 10px;
}

.good {
    text-transform: uppercase;
    color: darkgreen;
}

.bad {
    text-transform: uppercase;
    color: darkred;
}

figcaption {
    font-style: italic;
}

a:link {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:hover {
    background-color: salmon;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:active {
    background-color: salmon;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 0;
    background-color: black;
    color: white;
}