body {
    width: 90%;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
    margin-left: 5%;
    margin-right: 5%;
}

blockquote {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

figcaption {
    font-style: italic;
}